@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Yellowtail&display=swap');

:root {
  --text-font: open Sans, sans-serif;
  --title-font: Yellowtail, sans-serif;

  --main-color: rgb(80, 165, 245);
  --text-color: rgb(42, 41, 41);
  --text-color-light: #808080;


  --dark: #03045E;
  --medium-dark: #0077B6;
  --medium: #00B4D8;
  --medium-light: #90E0EF;
  --light: #CAF0F8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--text-font);
  color: var(--text-color);
}

a {
  text-decoration: none;
}

.App {
  display: flex;
  height: 100vh;
}

#navigation {
  width: 25%;
  min-width: 250px;
  flex: 1;
}
#environment {
  height: 100%;
  width: 100%;
}